body{background-color:#f5f8fa;}
._mt55{margin-top:55px;}
/** Auth */
.auth-page{background-color: #fff;}
.auth-page .header{height:64px;border-bottom: solid 1px #e5e5e5;padding:0 15px;position:relative;}
.auth-page .header-inside{height:34px;}
.auth-head-btn{font-weight:normal;padding:6px 12px;font-size:14px;}
.auth-container{padding:0 15px;}
.auth-form{max-width:350px;margin-top:50px;}
.auth-form-title{font-size:17px;color:#444;text-transform:uppercase;}
.auth-field-group{margin-bottom:15px;}
.first-field-group{margin-top:20px;}
.auth-field-group>label{height:18px;}
.auth-field{height: 34px;padding:5px 15px;color:#555;border:solid 2px #f4f4f4;background-color:#f4f4f4;}
.auth-field:focus{border-color:#007aff;}

/** Header */
.header{height:55px;border-bottom:solid 1px #007aff;padding:0 15px;position:fixed;z-index:1001;}
/*.header-inside{display:none;}*/
.head-left-col{width:20%;}
.head-right-col{width:80%;}
.head-logo-nav{width:100%;height:34px;background-color:#007aff;}
.head-search-location{width:100%;position:absolute;left:0;right:0;top:0;height:100%;z-index:100;background-color:#fff;display:none;}
.head-search-inside{padding:10px 15px;}
.head-right-nav{width:100%;}
.header-search-form{width:87%;}
.header-search-input{height:34px;border:solid 1px #007aff;padding:0 31px 0 17px;background-color:rgba(0, 122, 255, 0.04);color:#007aff;}
.header-search-btn{height:34px;width:30px;margin-left:-31px;}
.head-location-btn{float:right;display:none;}
.head-signup{margin-left:5px;display:none;}
.head-signin{display:none;}
.mobile-head-icon{display:inline-block;color:#007aff;}
.mobile-head-icon:hover{text-decoration:none;color:#007aff;}
.header-location-dropdown{width:270px;height:355px;overflow-y:scroll;box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-ms-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-o-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);}
.search-location-form{padding:10px 5px;}
.search-location-form>input{height:30px;background-color:#f5f5f5;padding:0 30px 0 10px;color:#999;}
.search-location-form>button{height:30px;width:30px;margin-left:-30px;color:#999;}
.header-location-dropdown .list-location>li{width:100%;float:left;padding:7px 10px;border-bottom:solid 1px #eee;color:#999;font-size:13px;font-weight:bold;}
.header-location-dropdown .list-location>li:hover{cursor:pointer;color:#007aff;background-color:#fbfbfb;}
/** Avatar header */
.head-avatar-img{width:34px;height:34px;}
.avatar-dropdown .dropdown-toggle,
.avatar-dropdown.open .dropdown-toggle{box-shadow:none;-webkit-box-shadow:none;}
.avatar-dropdown .dropdown-menu{width:275px;left:-240px;border-color:#ddd;box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-ms-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);-o-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);}
.avatar-dropdown .dropdown-menu>li{width:100%;float:left;}
.avatar-dropdown .dropdown-menu>li>a{width:100%;float:left;color:#666;padding:7px 15px;font-size:15px;font-weight:400;outline:none;}
.avatar-dropdown .dropdown-menu>li>a:hover{color:#007aff}
.avatar-dropdown .dropdown-menu>li>a>i{width:20px;float:left;padding-top:3px;}
.avatar-dropdown .dropdown-menu>li>a>span{float:left;margin-left:3px;}
.avatar-dropdown .avatar-popup-img{width:64px;height:64px;}
.short-profile-nav span{margin-left:0px !important;}
.short-profile{width:172px;margin-left:7px;}
.short-profile .short-info-name{margin-top:28px;}
.short-profile-nav:hover{background-color:#fff !important;}

/** Setting */
.biggest-container{padding:0;}
.setting-container{margin:30px 0;}
.setting-left-col{width:70%;padding:30px 20px 20px 20px;border:solid 1px #e4e4e4;}
.setting-header{height:55px;border-bottom:solid 2px #ddd;}
.setting-header>h1{font-size:22px;}
.setting-group{padding:20px 10px;border-bottom:solid 1px #eee;}
.last-setting-group{border-bottom:none;}
.setting-field-left{width:28%;}
.setting-field-right{width:72%;}
.setting-avatar-img{width:96px;height:96px;}
.avatar-note-group{height:52px;margin-top:22px;}
.setting-form{float:left;width:90%;}
.setting-form-group{margin-bottom:15px;}
.setting-form-label{font-weight:normal;color:#777;}
.setting-form-field{width:100%;float:left;padding:5px 15px;border:solid 2px #ddd;color:#555;outline:none;border-radius:2px;-webkit-border-radius:2px;background-color:#fff;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;}
.setting-form-field:focus{border-color:#007aff;}
.loading-in-btn, .loading-in-btn-sm{float:left;margin-top:-1px;padding:0 3px;display:none;}
.loading-in-btn-sm{margin-top:-3px;}
.setting-form-group-store{width:90%;}
.select-box-field{padding:6px 15px;}
.setting-cover-box{height:256px;background-position:center center;background-size:cover;position:relative;}

/* Store */
.store-header{height:296px;background-color:#fff;border:solid 1px #e3e3e3;}
.store-cover{height:240px;}
.store-cover-img{background-position:center center;background-size:cover;position:relative;}
.store-nav-bar{height:55px;}
.store-nav-list>li{float:left;display:inline;}
.store-nav-list>li>a{float:left;height:55px;padding:12px;display:inline-block;color:#888;text-decoration:none;border-right:solid 1px #e3e3e3;outline:none;}
.store-nav-list>li>a:hover{color:#007aff;}
.store-nav-list>li>a>i{font-size:18px;margin-top:7px;text-align:center;}
.store-nav-list>li>a>span{width:100%;float:left;text-align:center;text-transform:uppercase;font-size:11px;clear:both;}
.store-nav-list>li>a>span.store-nav-count{font-size:17px;line-height:15px;}
.store-nav-list>li>a.store-nav-icon{width:55px;text-align:center;}
.store-nav-list>li:nth-child(3) {display:none;}
.store-nav-list>li:nth-child(4) {display:none;}
.choose-cover-btn, .store-nav-contact, .store-add-product-btn{width:31px;height:31px;text-align:center;clear:both;}
.store-nav-contact{margin:10px 10px 0 0;}
.store-add-product-btn{margin-right:10px;}
.store-add-product-btn>i{margin-right:10px;}
.change-cover-loading{position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-12px;display:none;}
.-ap-modal .modal-header{height:56px;padding:0;}
.-ap-modal .modal-header h4{height:56px;line-height:56px;vertical-align:middle;padding:0 15px;}
.-ap-modal .modal-header .close{height:56px;line-height:56px;vertical-align:middle;padding:0 15px;font-size:31px;margin:0;opacity:0.3}
.-ap-modal .modal-header .close:hover{opacity:0.5}
.product-description{overflow-y:scroll;resize:vertical;}
.add-product-image{float:left;width:47%;height:136.297px;border:dashed 3px #d5d5d5;line-height:10px;margin:0 6% 6% 0;color:#aaa;cursor:pointer;position:relative;}
.add-product-image>span{position:relative;}
.add-product-image>span>i{width:20px;height:22px;font-size:24px;position:absolute;left:50%;top:50%;margin: -11px 0 0 -10px;}
.add-product-image:hover{border-color:#007aff;color:#007aff;}
.product-img-2{margin-right:0;}
.store-cover-img button b{line-height:31px;vertical-align:middle;}
.remove-product-img{width:20px;height:20px;padding:2px;margin:2px;right:0;position:absolute;background-color:rgba(0, 0, 0 , 0.5);font-size:15px;color:#fff;text-align:center;}
.-ap-modal .modal-dialog{max-width:600px;width:auto;margin:auto;}
.-ap-modal .modal-content{margin-bottom:0;border:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.-api-last{margin-right:0 !important;}

/* Product tree */
.store-body{margin:20px 0;}
.product-tree{padding:0 15px;margin:auto;}
.product-tree>li{width:100%;max-width:310px;float:none;margin:auto;}
.product-tree>li:nth-child(3n+3){margin-right:auto;}
.product-tree>li:nth-child(2n+2){margin-right:auto;}
.product{width:100%;float:left;height:auto;background-color:#fff;border:solid 1px #e5e5e5;margin-bottom:15px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;}
.product>.product-head{width:100%;float:left;height:45px;padding:0 10px;border-bottom:solid 1px #8ec4ff;}
.product-handle{float:left;list-style:none;padding:0;margin-top:14px;}
.product-handle>li{float:left;display:inline;}
.product-handle>li>button{float:left;display:inline-block;margin-right:18px;cursor:pointer;}
.product-handle>li>button>i{float:left;font-size:17px;color:#ccd6dd;}
.product-handle>li>button>b{float:left;font-size:12px;color:#8899a6;line-height:12px;margin:6px 0 0 6px;}
.product-handle>li>button.product-pin:hover i{color:#258AF9;}
.product-handle>li>button.product-pin:hover b{color:#258AF9;}
.product-handle>li>button.pinned>i{color:#258AF9;}
.product-handle>li>button.pinned>b{color:#258AF9;}
.product-handle>li>button.product-share:hover i{color:#9b70da;}
.product-handle>li>button.product-share:hover b{color:#9b70da;}
.product-handle>li>button.product-comment:hover i{color:#2ab27b;}
.product-handle>li>button.product-comment:hover b{color:#2ab27b;}
.product-handle>li>button.commented>i{color:#2ab27b;}
.product-handle>li>button.commented>b{color:#2ab27b;}
.product-body{width:100%;float:left;margin-top:1px;}
.product-image{width:100%;float:left;}
.product-image>a>img{width:100%;height:31.958762887%;float:left;}
.product-info{width:100%;float:left;padding:5px 10px;border-top:solid 1px #8EC4FF;margin-top:1px;}
.product-name-box{width:100%;height:43px;float:left;}
.product-name{float:left;font-size:17px;color:#888;line-height:20px;text-decoration:none !important;}
.product-name:hover{color:#6f6f6f}
.product-price{float:left;color:#007aff;font-size:17px;}
.product-old-price{float:right;margin-top:3px;color:#8f8f8f;text-decoration:line-through;}
.product-control{float:right;}
.product-config-btn{float:left;margin:16px 0 0 0;cursor:pointer;color:#8899a6;font-size:16px;}
.product-config-btn:hover{color:#777;}
.product-control-drop{min-width:56px;margin:2px 0 0 -22px;}
.product-control-drop>li>a{color:#7a7a7a;font-size:16px;text-align:center;}
.product-control-drop>li>a:hover{color:#007aff;}
.product-control-drop>li>a.product-remove:hover{color:#f77;}
.product-control-drop>li>a.product-edit:hover{color:#2ab27b;}

/* Quick view product modal */
body.modal-open{position:fixed;}
.modal{padding:0;background:#fff;}
.modal .modal-dialog{height:100%;}
.-qvp-modal-left{width:100%;float:left;background-color:#fff;}
.-qvp-modal-right{width:100%;float:left;background-color:#fff;}
.-qvp-modal .modal-dialog{margin:auto;background-color:#fff;}
.-qvp-modal .modal-content{height:100%;margin-bottom:0;border:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.-qvp-handle-container{height:60px;padding:0 20px;}
.-qvp-handle-lg{display:block;}
.-qvp-handle-sm{display:none;}
.-qvp-handle{height:20px;margin:20px 0;}
.-qvp-handle>li{height:20px;line-height:20px;vertical-align:middle;}
.-qvp-handle-container .close{float:right;height:60px;line-height:60px;vertical-align:middle;margin:0;font-weight:normal;opacity:0.3;font-size:31px;}
.-qvp-handle-container .close:hover{opacity:0.5;}
.-qvp-details{color:#55A1F5;}
.-qvp-details:hover{color:#007aff;text-decoration:none;}
.-qvp-view-more-comments{background-color:transparent;border:none;outline:none;color:#999;}
.-qvp-view-more-comments:hover{color:#666;}
.-qvp-comments-tree{height:auto;padding:0 20px 20px 20px;color:#777;font-size:14px;}
.-qvp-comments-tree>li{width:100%;float:left;font-size:14px;color:#777;margin-bottom:7px;}
.-qvp-comments-tree>li>a.comment-owner{text-transform:capitalize;color:#125688;font-weight:bold;text-decoration:none; margin-right:0.3em;}
.-qvp-comment-frm-container{padding:0 20px;}
.-qvp-comment-form{position:relative;height:61px;}
.-qvp-comment-text{padding:20px 0;border:none;outline:none;color:#6a6a6a;background-color:#fff;border-top: solid 1px #eee;}
.-qvp-comment-text:focus{border-color:#007aff;}
.-qvp-comment-loading{position:absolute;display:none;width:16px;height:16px;left:50%;top:50%;margin-top:-8px;margin-left:-8px;}
.-qvp-comments-tree .close{font-weight:normal;font-size:26px;margin:-3px 0 0 15px;height:21px;}
.-qvp-more-comment-loading{display:none;}
.product-carousel-container{max-width:570px;position:relative}
.product-carousel-container img{cursor:move;width:100%;max-height:570px;}
.-pcn{top:50%;margin-top:-19px;position:absolute;height:28px;font-size:30px;color:#fff;opacity:0.95;cursor:pointer;display:none;}
.-pcn-disabled{display:none !important;}
.-pcn-prev{left:0}
.-pcn-next{right:0}
.product-carousel-container:hover .-pcn{display:block;}
/* Share product */
.-sp-modal{background-color:transparent;}
.-sp-modal .modal-dialog{height:auto;}
.share-text-input{height:34px;padding:5px 15px;background-color:#eee;border:solid 2px #eee;color:#555;}
.share-text-input:focus{border-color:#007aff;}

/* Contact */
.store-contact-body{background-color:#fff;}
.contact-map{height:300px;background-color:#eee;}
.contact-field{padding:7px 15px;}
.contact-field-icon{background-color:#eee;width:30px;height:30px;text-align:center;line-height:30px;vertical-align:middle;}
.contact-field-text{height:30px;line-height:30px;vertical-align:middle;}
.contact-other-info h4{border-bottom:solid 1px #e5e5e5;padding-bottom:20px}

@media screen and (min-width: 320px){

}
@media screen and (min-width: 321px){
    .header-search-form{width:90%;}
    .mobile-head-location{display:block;}
    .store-nav-list>li>a{padding:12px 15px;}
    .add-product-image{height:101.75px;width:23.5%;margin:0 2% 2% 0;}
    .product-img-2{margin-right:2%;}
}
@media screen and (min-width: 480px){
    .header-search-form{width:72%;}
    .head-location-btn>i.glyphicon{display:none;}
    .head-location-btn{display:block;}
    .mobile-head-location{display:none;}
    .add-product-image>span>i{width:22px;height:24px;font-size:28px;margin:-12px 0 0 -11px;}
    .add-product-image{height:105.75px;}
    .store-nav-list>li:nth-child(3) {display:inline;}
    .store-nav-list>li:nth-child(4) {display:inline;}
    .store-nav-contact{display:none;}
    .store-add-product-btn{display:none;}
    .product-tree>li{width:48.4375%;float:left;margin:0 3.125% 3.125% 0;}
    .product-tree>li:nth-child(3n+3){margin-right:3.125%;}
    .product-tree>li:nth-child(2n+2){margin-right:0;}
    .product{margin-bottom:0;}
}

@media screen and (min-width: 571px) {
    body.modal-open{position:relative;}
    .modal{background:transparent;}
    .modal .modal-dialog{height:auto;}
    .-qvp-modal{padding:30px !important;}
    .-qvp-modal .modal-dialog{margin:auto;}
    .-qvp-modal .modal-content{margin-bottom:30px;-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);box-shadow:0 3px 9px rgba(0, 0, 0, .5);}/*border:1px solid #999;border:1px solid rgba(0, 0, 0, .2);*/
    .-qvp-modal .modal-lg{width:100%;max-width:570px;}
    .-ap-modal .modal-content{margin-bottom:30px;border:1px solid #999;border:1px solid rgba(0, 0, 0, .2);-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);box-shadow:0 3px 9px rgba(0, 0, 0, .5);}
    .-qvp-comment-frm-container{padding:0 20px;}
    .add-product-image{height:133.90px;}
    .biggest-container{padding:0 15px;}
    .product-tree{padding:0;}
}

@media screen and (min-width: 640px){
    .header-search-form{width:77%;}
    .head-location-btn>i.glyphicon{display:inline-block;}
    .-ap-modal .modal-dialog{width:100%;margin:30px auto;}
    .store-cover{height:250px;}
    .store-header{height:306px;}
}

@media screen and (min-width: 670px){
    .product-tree>li{width:31.958762887%;float:left;margin:0 2.06185567% 2.06185567% 0;}
    .product-tree>li:nth-child(3n+3){margin-right:0;}
    .product-tree>li:nth-child(2n+2){margin-right:2.06185567%;}
}

@media screen and (min-width: 768px){
    .head-left-col{width:15%;}
    .head-right-col{width:85%;}
    .head-logo-nav{width:90%;}
    .header-search-form{width:68%;margin-right:10px;}
    .head-search-location{width:73%;position:relative;background-color:transparent;display:block;}
    .head-right-nav{width:27%;}
    .header-search-input{padding:0 31px 0 12px;}
    .head-location-btn{padding-left:7px;padding-right:7px;float:left;}
    .head-search-inside{padding:0;}
    .head-signin, .head-signup{display:inline-block;}
    .mobile-head-signin{display:none;}
    .store-cover{height:340px;}
    .store-header{height:396px;}
}

@media screen and (min-width: 840px){
    .header-search-form{width:70%;}
    .head-logo-nav{width:80%;}
    .header-search-input{padding:0 31px 0 17px;}
    .head-location-btn{padding-left:12px;padding-right:12px;}
}

@media screen and (min-width: 940px){
    .head-left-col{width:20%;}
    .head-right-col{width:80%;}

    .-qvp-modal .modal-lg{max-width:936px;width:936px;height:570px;position:absolute;top:50%;left:50%;margin-top:-285px;margin-left:-468px;}
    .-qvp-modal-left{width:60.96256684491979%;}
    .-qvp-modal-right{width:39.03743315508021%;}
    .-qvp-handle-lg{display:none;}
    .-qvp-handle-sm{display:block;border-bottom:solid 1px #eee;}
    .-qvp-handle{}
    .-qvp-comments-tree{height:378px;overflow-y:auto;}
}

@media screen and (min-width: 1024px){
}

@media screen and (min-width: 1280px){
}